<div class="h-full overflow-y-auto bg-gray-50 dark:bg-gray-900 scrollbar-hide">
  <div class="mb-4 md:mb-6">
    <h1
      class="text-xl md:text-2xl lg:text-3xl font-bold text-gray-900 dark:text-white"
    >
      Gestión de Contratos
    </h1>
  </div>

  <lib-ds-table
    [dataSource]="contracts()"
    [columns]="columns()"
    [pagination]="paginationConfig"
    [loading]="loading()"
    [bordered]="true"
    [size]="'middle'"
    [rowKey]="'id'"
    (changeEvent)="onChange($event)"
    (rowClickEvent)="onRowClick($event)"
  >
  </lib-ds-table>
</div>
